@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

$first-family: mat-typography-config(
  $font-family: 'Montserrat, Sans-serif'
);
$second-family: mat-typography-config(
  $font-family: 'Open Sans, Sans-serif'
);
  
  .img-piattaforma{
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    img {
      width: 30%;
      margin: auto;
      //padding-top: 16px;
    }
  }

  .img-piattaforma{
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    img {
      width: 30%;
      margin: auto;
      //padding-top: 16px;
    }
  }

 
    mat-card-content {
      padding-top: 16px;
      .descriptions {
        height: 250px;
        .name-platform {
          height: 38px;
          text-align: left;
          overflow: hidden;
          font-family: mat-font-family($first-family);
          font-size: 21px;
          font-weight: 900;
        }
        .paragraphs {
          height: 196px;
          text-align: left;
          overflow: hidden;
          padding-bottom: 16px;
          font-family: mat-font-family($second-family);
          font-size: 20px;
          line-height: 1.3em;
        }
      }
      .content-chips {
        height: 152px;
        overflow: hidden;
      }
      
    }

    .mat-standard-chip {
      border-radius: 4px !important;
    }



