
  .img-piattaforma{
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    img {
      width: 50%;
      margin: auto;
      //padding-top: 16px;
    }
  }

 
    mat-card-content {
      padding-top: 16px;
      .descriptions {
        height: 300px;
        p {
          text-align: left;
          overflow: hidden;
          span {
            font-size: 21px;
            font-weight: 600;
          }
        }
      }
      .content-chips {
        height: 100px;
      }
      
    }

    .mat-standard-chip {
      border-radius: 4px !important;
    }

    mat-card-actions {
      button {
        margin-bottom: 2em;
      }
    }

    p {
        font-size: 20px;
        line-height: 1.3em;
        }
