
@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

$first-family: mat-typography-config(
  $font-family: 'Montserrat, Sans-serif'
);
$second-family: mat-typography-config(
  $font-family: 'Open Sans, Sans-serif'
);

p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

  .title_XL{
    font-size: 50px !important;
  }

.title-header_S {
  font-family: mat-font-family($first-family);
  font-size: 5.12vw !important;
  font-weight: 800 !important;
}

.title-header_M {
  font-family: mat-font-family($first-family);
  font-size: 5.12vw !important;
  font-weight: 800 !important;
}

.title-header_L {
  font-family: mat-font-family($first-family);
  font-size: 4.68vw !important;
  font-weight: 800 !important;
}

.title-header_XL {
  font-family: mat-font-family($first-family);
  font-size: 5.47vh !important;
  font-weight: 800 !important;
}

.flex-container-header_S {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0%;
  padding-right: 0%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 100%;
    .imagebox-taxi-3 {
      width: 40%;
      margin: auto;
      .image-taxi-3 {
        width: 100%;
      }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}

.flex-container-header_M {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      .image-taxi-3 {
        width: 100%;
      }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
  }
}

.flex-container-header_L {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      .image-taxi-3 {
        width: 100%;
      }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
  }
}

.flex-container-header_XL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 18%;
  padding-right: 18%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      .image-taxi-3 {
        width: 100%;
      }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
  }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-container_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .flex-container_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-container_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-container_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }

  .container-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-members_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .container-members_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-members_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-members_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }

  .flex-item {
    padding: 10px;
    margin: auto;
    width: 100%;
  }

  .imagebox-taxi-2 {
    width: 48%;
    text-align: center;
  }

  .image-taxi-2 {
    width: 75%;
  }

  .imagebox-Hack_for_Italy {
    width: 48%;
    text-align: center;
  }

  .image-Hack_for_Italy {
    width: 100%;
  }

  .flex-item_S {
    padding: 10px;
    margin: auto;
    width: 100%;
    .imagebox-taxi-2 {
      width: 100%;
    }
    .imagebox-Hack_for_Italy{
      width: 100%;
    }
  }

  .flex-item_M {
    padding: 10px;
    margin: auto;
    width: 70%;
    .imagebox-taxi-2 {
      width: 70%;
    }
    .imagebox-Hack_for_Italy{
      width: 70%;
    }
  }

  .flex-item_L {
    padding: 10px;
    margin: auto;
    width: 48%;
    .imagebox-Hack_for_Italy{
      width: 48%;
    }
  }

  .flex-item_XL {
    padding: 10px;
    margin: auto;
    width: 48%;
    .imagebox-Hack_for_Italy{
      width: 48%;
    }
  }

  .titlebox {
    // overflow: hidden;
  }

  .textbox {
    text-align: justify;
  }

  .subtitle {
    margin-top: 2%;
  }

  .voltibox {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .media-box {
    width: 100%;
    text-align: center;
  }

  .media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .media-item {
    padding: 10px;
    margin: auto;
  }

  .img-media {
    display: flex;
    width: 140px;
    //height: 140px;
    margin: auto;
    text-align: center;
    align-content: center;
    overflow: hidden;
    img{
      //width: 140px;
      width: 100%;
    }
  }

  .img-media_S {
    width: 100px;
  }

  .text-media {
    width: 328px;
    height: 116px;
    padding: 12px 15px;
    background-color: #FFFFFF;
    text-align: left;
  }

  .text-media_S {
    width: 178px;
    height: 76px;
    padding: 12px 15px;
    text-align: left;
  }

  .media-card {
     display: inline-flex;
     background-color: #FFFFFF;
     border: 1px solid #dedede;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
  }

  .media-th {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
  }

  .media-td {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .media-tf {
    display: flex;
    width: 100%;
    height: 18px;
    overflow: hidden;
    span {
      color: #999999;
      margin-right: 2px;
        font-size: 12px;
      a {
        text-decoration: none;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .container-partners_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .container-partners_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-partners_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-partners_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }