
@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

$first-family: mat-typography-config(
  $font-family: 'Montserrat, Sans-serif'
);
$second-family: mat-typography-config(
  $font-family: 'Open Sans, Sans-serif'
);

$XSmall: '(max-width: 599.99px)';
$Small: '(min-width: 600px) and (max-width: 959.99px)';
$Medium: '(min-width: 960px) and (max-width: 1279.99px)';
$Large: '(min-width: 1280px) and (max-width: 1919.99px)';
$XLarge: '(min-width: 1920px)';
$HandsetPortrait: '(max-width: 599.99px) and (orientation: portrait)';

$Custom: '(min-width: 800px)';

$small: $HandsetPortrait;
$medium: $Small + ', ' + $Medium;
$large: $Large;
$xlarge: $XLarge;
$custom: $Custom;

p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

  @media only screen and #{$xlarge} {
  .title_XL{
    font-size: 50px !important;
  }
  }

.title-header {
  font-family: mat-font-family($first-family);
  font-size: 5.12vw !important;
  font-weight: 800 !important;
}
@media only screen and #{$medium} {
.title-header {
  font-family: mat-font-family($first-family);
  font-size: 5.12vw !important;
  font-weight: 800 !important;
}
}
@media only screen and #{$large} {
.title-header {
  font-family: mat-font-family($first-family);
  font-size: 4.68vw !important;
  font-weight: 800 !important;
}
}
@media only screen and #{$xlarge} {
.title-header {
  font-family: mat-font-family($first-family);
  font-size: 5.47vh !important;
  font-weight: 800 !important;
}
}
.flex-container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0%;
  padding-right: 0%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 100%;
    .imagebox-taxi-3 {
      width: 40%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
@media only screen and #{$medium} {
.flex-container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
    text-align: left;
  }
}
}
@media only screen and #{$large} {
.flex-container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
    text-align: left;
  }
}
}
@media only screen and #{$xlarge} {
.flex-container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 18%;
  padding-right: 18%;
  .flex-item-header-img {
    padding: 10px;
    margin: auto;
    width: 25%;
    .imagebox-taxi-3 {
      width: 100%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
  }
  .flex-item-header-title {
    padding: 10px;
    margin: auto;
    width: 65%;
    text-align: left;
  }
}
}

.imagebox-taxi-3 {
  .img {
    background-image: url("/assets/imgs/_taxi-3_250x.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 0%;
    padding-bottom: 100%;
  }
  @media only screen and (min-width: 800px) {
    .img {
      background-image: url("/assets/imgs/_taxi-3_250x.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .img {
      background-image: url("/assets/imgs/_taxi-3_450x.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
}

  @media only screen and #{$small} {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  }
  @media only screen and #{$medium} {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$large} {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$xlarge} {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }
  }
  
  @media only screen and #{$small} {
  .container-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  }
  @media only screen and #{$medium} {
  .container-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$large} {
  .container-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$xlarge} {
  .container-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }
  }

  .flex-item {
    padding: 10px;
    margin: auto;
    width: 100%;
  }

  .imagebox-taxi-2 {
    width: 48%;
    text-align: center;
  }

  .image-taxi-2 {
    width: 75%;
  }

  .imagebox-Hack_for_Italy {
    width: 48%;
    text-align: center;
  }

  .image-Hack_for_Italy {
    width: 100%;
  }

  .flex-item {
    padding: 10px;
    margin: auto;
    width: 100%;
    .imagebox-taxi-2 {
      width: 100%;
    }
    .imagebox-Hack_for_Italy{
      width: 100%;
    }
  }
  @media only screen and #{$medium} {
  .flex-item {
    padding: 10px;
    margin: auto;
    width: 70%;
    .imagebox-taxi-2 {
      width: 70%;
    }
    .imagebox-Hack_for_Italy{
      width: 70%;
    }
  }
  }

  .imagebox-taxi-2 {
    .img {
      background-image: url("/assets/imgs/_taxi-2_250x.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
    @media only screen and (min-width: 800px) {
      .img {
        background-image: url("/assets/imgs/_taxi-2_250x.png");
        background-position: center;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        height: 0%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (min-width: 1000px) {
      .img {
        background-image: url("/assets/imgs/_taxi-2_450x.png");
        background-position: center;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        height: 0%;
        padding-bottom: 100%;
      }
    }
  }

  @media only screen and #{$large} {
  .flex-item {
    padding: 10px;
    margin: auto;
    width: 48%;
    .imagebox-taxi-2 {
      width: 100%;
    }
    .imagebox-Hack_for_Italy{
      width: 48%;
    }
  }
  }
  @media only screen and #{$xlarge} {
  .flex-item {
    padding: 10px;
    margin: auto;
    width: 48%;
    .imagebox-taxi-2 {
      width: 100%;
    }
    .imagebox-Hack_for_Italy{
      width: 48%;
    }
  }
  }

  .titlebox {
    // overflow: hidden;
  }

  .textbox {
    text-align: justify;
  }

  .subtitle {
    margin-top: 2%;
  }

  .voltibox {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .media-box {
    width: 100%;
    text-align: center;
  }

  .media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .media-item {
    padding: 10px;
    margin: auto;
  }

  .img-media {
    display: flex;
    width: 140px;
    //height: 140px;
    margin: auto;
    text-align: center;
    align-content: center;
    overflow: hidden;
    img{
      //width: 140px;
      width: 100%;
    }
  }
  @media only screen and #{$small} {
  .img-media {
    display: flex;
    width: 100px;
    //height: 140px;
    margin: auto;
    text-align: center;
    align-content: center;
    overflow: hidden;
    img{
      //width: 140px;
      width: 100%;
    }
  }
  }

  .text-media {
    width: 328px;
    height: 116px;
    padding: 12px 15px;
    background-color: #FFFFFF;
    text-align: left;
  }
  @media only screen and #{$small} {
  .text-media {
    width: 178px;
    height: 76px;
    padding: 12px 15px;
    background-color: #FFFFFF;
    text-align: left;
  }
  }
  .media-card {
     display: inline-flex;
     background-color: #FFFFFF;
     border: 1px solid #dedede;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
  }

  .media-th {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
  }

  .media-td {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .media-tf {
    display: flex;
    width: 100%;
    height: 18px;
    overflow: hidden;
    span {
      color: #999999;
      margin-right: 2px;
      font-size: 12px;
      white-space: nowrap;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        text-decoration: none;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  @media only screen and #{$small} {
  .container-partners {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  }
  @media only screen and #{$medium} {
  .container-partners {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$large} {
  .container-partners {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }
  @media only screen and #{$xlarge} {
  .container-partners {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }
  }