.imagebox-taxi-3 {
  width: 40%;
}

.image-taxi-3 {
  width: 100%;
}

.flex-container-header {
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-item-header {
  padding: 10px;
  margin: auto;
}

.titlebox-header {
  width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-item {
    padding: 10px;
    margin: auto;
    width: 100%;
  }

  .imagebox-taxi-2 {
    width: 48%;
    text-align: center;
  }

  .image-taxi-2 {
    width: 75%;
  }

  .imagebox-Hack_for_Italy {
    width: 48%;
    text-align: center;
  }

  .image-Hack_for_Italy {
    width: 90%;
  }

  .flex-item_S {
    padding: 10px;
    margin: auto;
    width: 100%;
    .imagebox-taxi-2 {
      width: 100%;
    }
    .imagebox-Hack_for_Italy{
      width: 100%;
    }
  }

  .flex-item_M {
    padding: 10px;
    margin: auto;
    width: 70%;
    .imagebox-taxi-2 {
      width: 70%;
    }
    .imagebox-Hack_for_Italy{
      width: 70%;
    }
  }

  .flex-item_L {
    padding: 10px;
    margin: auto;
    width: 48%;
    .imagebox-Hack_for_Italy{
      width: 48%;
    }
  }

  .titlebox {
    // overflow: hidden;
  }

  .textbox {
    text-align: justify;
    p {
      font-size: 20px;
      line-height: 1.3em;
      }
  }

  .subtitle {
    margin-top: 2%;
  }

  .voltibox {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .media-box {
    width: 100%;
    text-align: center;
    p {
    font-size: 20px;
    line-height: 1.3em;
    }
  }

  .partners-box {
    width: 100%;
    text-align: center;
    p {
      font-size: 20px;
      line-height: 1.3em;
      }
  }

  .partners-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
  }

  .partner {
    margin: auto;
  }

  .partner img{
    width: 70px;
    padding: 30px;
    /* width: 60%;
    max-width: 100%; */
    opacity: 0.3;
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
  }

  .media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .media-item {
    padding: 10px;
    margin: auto;
  }

  .img-media {
    display: flex;
    width: 140px;
    height: 140px;
    // background-color: #FECE2F;
    margin: auto;
    text-align: center;
    align-content: center;
    img{
      width: 140px;
    }
  }

  .text-media {
    width: 328px;
    height: 116px;
    padding: 12px 15px;
    background-color: #FFFFFF;
    text-align: left;
  }

  .media-card {
     display: inline-flex;
     border: 1px solid #dedede;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
  }

  .media-th {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
  }

  .media-td {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .media-tf {
    display: flex;
    width: 100%;
    height: 18px;
    overflow: hidden;
    span {
      color: #999999;
      margin-right: 5px;
      a {
        text-decoration: none;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }