<div class="map-container">
    <div class="map-frame">
        <agm-map [class.agm-map_S]="isS" #AgmMap
            [latitude]='geoLocation.latitude'
            [longitude]='geoLocation.longitude'
            [mapTypeId]='geoLocation.mapType'
            [zoom]='geoLocation.zoom'
            [scrollwheel]='geoLocation.scrollwheel'
            [clickableIcons]='geoLocation.clickableIcons'
            [styles]='geoLocation.styles'
            (mapClick)="hideInfo(AgmMap, $event)"
            (boundsChange)="boundsChangeEvent($event)"
            (tilesLoaded)="tilesLoadedEvent()">
            <!-- <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"> -->
            <agm-marker-cluster 
                imagePath="/assets/cluster/cluster">
                <ng-container *ngFor="let m of markers" >
                <agm-marker
                    *ngIf="m.isOnMap"
                    [latitude]="m.lat" 
                    [longitude]="m.lng"
                    [title]="m.label"
                    [iconUrl]="m.iconUrl" 
                    (markerClick)="getInfoMarker(m, AgmMap, infoWindow)"
                    >
                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                        <strong>{{m.label}}</strong>
                        <p>{{m.categ}}</p>
                    </agm-info-window>
                </agm-marker>
                </ng-container>
            </agm-marker-cluster>
        </agm-map>
    </div>
</div>
