<div class="map-container">
    <div class="map-frame">
        <agm-map #gm
            [latitude]='location.latitude'
            [longitude]='location.longitude'
            [mapTypeId]='location.mapType'
            [zoom]='location.zoom'
            (mapClick)="hideInfo(gm, $event)">
            <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                <!-- <agm-marker-cluster imagePath="/assets/uploads/cluster/cluster"> -->
                <agm-marker  
                    *ngFor="let m of markers" 
                    [latitude]="m.latitude" 
                    [longitude]="m.longitude"
                    [title]="m.label"
                    [iconUrl]="m.iconUrl" 
                    (markerClick)="getInfoMarker(m, gm, infoWindow)"
                    >
                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                        <strong>{{m.label}}</strong>
                        <p>{{m.categ}}</p>
                    </agm-info-window>
                </agm-marker>
            </agm-marker-cluster>
    </agm-map>
    </div>
</div>
