
@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

/* .map-container {
  position: relative;
  margin: 30px;
  height: 600px;
  width: 1100px;
}

.map-frame {
  
}

agm-map {
  height: 400px;
  width: 50%;
  padding:10px;
} */

.map-container {
    position: relative;
  }
  
  .map-frame {
    height: 0;
    overflow: hidden;
    padding-bottom: 70vh;
    /* padding-top: 30px; */
    position: relative;
  }
  
  agm-map {
    width: 80vw;
    height: 70vh;
  }
  
  .agm-map_S {
    width: 95vw;
  }
  
  .wrapper {
    width: 0px;
    animation: fullView 0.5s forwards linear;
  }
  
  @keyframes fullView {
    100% {
      width: 100%;
    }
  }
  
  .animate {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  .etichetta {
   text-align: left;
   font-size: 16px;
   padding-bottom: 5px;
  }
  
  .categorie {
    padding: 5px;
    border: 1px solid mat-color($custom-theme-primary);
    border-radius: 15px;
    font-size: 14px;
    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  
  .descrizione {
      display: flex;
      text-align: left;
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 5px;
    img {
        background-size: 10px 16px;
        display: inline-block;
        width: 20px;
        height: 16px;
    }
    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  
  .btn-visita {
    text-align: center;
    background: mat-color($custom-theme-primary);
    padding: 3px 10px;
    a {
        text-decoration: none;
        font-size: 14px;
        color: mat-color($mat-customPaletteForeground, 500);
    }
  }
