<div class="map-container">
    <div class="map-frame">
        <agm-map
            [latitude]='location.latitude'
            [longitude]='location.longitude'
            [mapTypeId]='location.mapType'
            [zoom]='location.zoom'>
        <agm-marker 
            *ngFor="let m of location.markers" 
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [iconUrl]="marker"
            [title]="m.label"
            (markerClick)="getInfoMarker(m)"
            ></agm-marker>
    </agm-map>
    </div>
</div>
