
<section class="flex-container" [class.flex-container_S]="isS">
    <div class="flex-item" [class.flex-item_S]="isS" [class.flex-item_M]="isM" [class.flex-item_L]="isL">

        <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  domanda
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>risposta</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  domanda
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Risposta</p>
            </mat-expansion-panel>

          </mat-accordion>

    </div>
    <div class="flex-item" [class.flex-item_S]="isS" [class.flex-item_M]="isM" [class.flex-item_L]="isL">

        <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  domanda
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>risposta</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  domanda
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Risposta</p>
            </mat-expansion-panel>

          </mat-accordion>

    </div>
</section>
