
  .container-page_S {
    width: 90%;
    margin: auto;
    padding-top: 2em;
  }

  .container-page_M {
    width: 55%;
    margin: auto;
    padding-top: 2em;
  }

  .container-page_L {
    width: 55%;
    margin: auto;
    padding-top: 2em;
  }

.other{
    width: 90%;
    margin: auto;
    padding-top: 2em;
  }

.title-header {
    padding-top: 2em;
  }

.subtitle-header {
  display: flex;
  align-content: center;
  padding-top: 1em;
  span {
      padding-left: 5px;
      padding-right: 5px;
  }
}
  
.content-article {
    text-align: left;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  
.content-other {
    padding-top: 2em;
    padding-bottom: 2em;
}

.list-other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 2em;
  }
  
  mat-card {
    background-color: none !important;
    border-radius: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  .mat-card-image:first-child {
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
  }
  
  .example-card_S {
    max-width: 85%;
    margin: 10px;
  }
  
  .example-card_M {
    max-width: 85%;
    margin: 10px;
  }

  .example-card_L {
    max-width: 25%;
    margin: 10px;
  }
  
  mat-card-title {
    margin: 10px;
    height: 50px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  mat-card-subtitle {
    margin: 15px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-content: center;
  }


  .title-other{
    display: flex;
    align-content: center;
    mat-icon {
        color: #13aff0;
    }
  }

  .container-social_S {
    width: 90%;
    margin: auto;
  }

  .container-social_M {
    width: 80%;
    margin: auto;
  }

  .container-social_L {
    width: 65%;
    margin: auto;
  }

  .button-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-bottom: 16px;
  }
