

<div [class.container-page_S]="isSmall" [class.container-page_M]="isMedium" [class.container-page_L]="isLarge" *ngIf="storia != null">
    <div class="title-header">
      <span class="mat-display-1" innerHtml="{{storia.title}}"></span>
    </div>
    <mat-divider></mat-divider>
    <div class="subtitle-header mat-small">
      <mat-icon inline="true" aria-hidden="false" aria-label="Example home icon">access_time</mat-icon>
      <span innerHtml="{{ storia.date | date: 'dd MMMM yyyy' }}  -  "></span>
      <mat-icon inline="true" aria-hidden="false" aria-label="Example home icon">chat_bubble_outline</mat-icon>
      <span>0 Commenti</span>
    </div>
    <div class="content-article">
        <p [innerHtml]="storia.content | safeHtml:'html'"></p>
    </div>
</div>

<div [class.container-social_S]="isSmall" [class.container-social_M]="isMedium" [class.container-social_L]="isLarge">
  <h4 class="mat-h4"><strong>Condividi su: </strong></h4>
  <div class="button-social">
    <share-buttons [theme]="'modern-dark'"
    [include]="['facebook','twitter','linkedin','email']"
    [show]="4"
    [showText]="true"
    [showCount]="true"
    [url]="storia?.link"
   ></share-buttons>
  </div>
  <div class="mat-small">TAG: <span class="tags" *ngFor="let tag of storia?.tags"><a href="{{tag.link}}">{{tag.name | uppercase}}</a></span></div>
</div>

<div class="other">
<mat-divider></mat-divider>
<div class="content-other">
  <div class="title-other">
    <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
    <h3 class="mat-h3"><strong> POTREBBE ANCHE PIACERTI </strong></h3>
  </div>
    <div class="list-other">
        <mat-card [class.example-card_S]="isSmall" [class.example-card_M]="isMedium" [class.example-card_L]="isLarge" *ngFor="let latestStoria of latestStorie" class="pointer" routerLink="/storie/{{latestStoria?.id}}">
          <img mat-card-image src="{{latestStoria?._media_full}}" >
            <mat-card-footer>
              <mat-card-title ellipsis><span innerHtml="{{latestStoria?.title}}"></span></mat-card-title>
              <mat-card-subtitle>
                <div>
                <mat-icon inline="true" aria-hidden="false" aria-label="Example home icon">access_time</mat-icon>
                <span class="mat-small" innerHtml="{{ latestStoria?.date | date: 'dd MMMM yyyy' }}"></span>
                </div>
              </mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
    </div>    
</div>
</div>


