
  // .flex-item {
  //   padding: 10px;
  //   margin: auto;
  //   width: 95%;
  // }

  p {
    //font-size: 3.04vh;
    font-size: 20px;
    line-height: 1.3em;
    }

    .title_XL{
      font-size: 50px !important;
    }
    
  .flex-item_S {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 95%;
  }

  .flex-item_M {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 70%;
  }

  .flex-item_L {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 100%;
  }

  .partners-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //padding-top: 4%;
    .partner {
      margin: auto;
      img{
        width: 140px;
        padding: 30px;
        /* width: 60%;
        max-width: 100%; */
        opacity: 0.3;
        filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
      }
    }
  }

  .subtitle {
    margin-top: 2%;
  }

