
  .remove {
    display: none;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #1E1E1E;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }

  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }

  .container-router {
    /* padding: 0 16px; */
    padding: 0;
  }

  .mat-toolbar-row {
    height: 74px;
    padding: 0 5%;
  }

  .mat-toolbar-row_XL {
    height: 74px;
    padding: 0 18%;
  }

  /* mat-toolbar-row > span:hover {
    color: #593C8F;
  } */

  .example-toolbar {
    position: fixed;
    z-index: 2;
    /* background-color: #FECE2F; */
    font-weight: bold;
  }

  span{
    /* padding: 10px; */
    margin-right: 30px;
    //font-size: 2.43vh;
    font-size: 16px;
  }

  .logo-header {
    height: 3em;
    padding-top: 10px;
  }
  
  /* .example-spacer {
    flex: 1 1 auto;
  } */

  .items-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  footer {
    background-color: #1E1E1E;
    color: #FFFFFF;
    height: 32px;
    padding-top: 1em;
    text-align: center;
    p {
      font-size: 14px !important;
      }
  }

