<!-- <p *ngFor="let p of piattaforme">piattaforma {{p.name}}!</p> -->
<!-- <app-piattaforma *ngFor="let p of piattaforme" [piattaforma]="p"></app-piattaforma> -->

<section class="flex-container-home" [class.flex-container-home_S]="isS" [class.flex-container-home_M]="isM" [class.flex-container-home_L]="isL" [class.flex-container-home_XL]="isXL">
    <div class="flex-item-home-img">
        <div class="image-taxi-7">
            <div class="img"></div>
        </div>
    </div>
    <div class="flex-item-home-text">
        <span class="mat-display-1" [class.title_XL]="isXL">Scopri tutte le nostre piattaforme!</span>
        <div class="paragraph">
        <p>Hai un’attività e vuoi <b>vendere gift card</b> o <b>consegnare a domicilio?</b></p>
        <p>Abbiamo raccolto per te le migliori piattaforme nate sul territorio italiano che ti aiuteranno a farlo. Potrai scegliere quella che si adatta meglio alle tue esigenze, a seconda della <b>tipologia di pagamento prevista</b>, della <b>copertura geografica</b> e molto altro.</p>
        <p>Come registrarsi? Facilissimo, basta cliccare sul bottone viola riportato sotto ogni card e seguire le istruzioni della piattaforma.</p>    
    </div>
    </div>
</section>

<section class="container-piattaforme" [class.container-piattaforme_XL]="isXL">
    <div class="item-piattaforme">

        <div class="container-card">
            <div class="list-card">
                <mat-card class="card-piattaforme" [class.card-piattaforme_S]="isS" [class.card-piattaforme_M]="isM" [class.card-piattaforme_L]="isL" [class.card-piattaforme_XL]="isXL" *ngFor="let p of piattaforme">
                <app-piattaforma [piattaforma]="p"></app-piattaforma>
                </mat-card>
            </div>
        </div>

    </div>
</section>

<section class="container-combatti bg-lightgray" [class.container-combatti_S]="isS" [class.container-combatti_M]="isM" [class.container-combatti_L]="isL" [class.container-combatti_XL]="isXL">
    <div class="item-combatti">
        <span class="mat-display-1">Combatti questa crisi con noi!</span>
        <div class="image-taxi-searching">
            <img src="/assets/imgs/taxi-searching-1.png">
        </div>
    </div>
    <div class="item-combatti-text">
        <p>Conosci una <b>piattaforma</b> che non è presente nel nostro elenco? Indicacela e la inseriremo subito!</p>
        <a href="https://info826726.typeform.com/to/B6NZfO" mat-flat-button color="accent">Segnala Piattaforma</a>
        <p>Se vuoi aiutarci con la diffusione di questo progetto puoi usare il nostro <b>press kit!</b></p>
        <p>Se hai dei suggerimenti scrivici a <b>info@unitipossiamo.it</b></p>
    </div>
</section>


