p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

.flex-container-home_S {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 100%;
    .image-teamwork {
      width: 75%;
      margin: auto;
      img {
        width: 100%;
      }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 100%;
}
}

.flex-container-home_M{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      img {
        width: 100%;
      }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.flex-container-home_L{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      img {
        width: 100%;
      }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.flex-container-home_XL{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 18%;
  padding-right: 18%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      img {
        width: 100%;
      }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.subtitle{
    padding-top: 2em;
}

.paragraph{
    padding-top: 2em;
}

.container-piattaforme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    //padding-left: 4%;
    //padding-right: 4%;
    .item-piattaforme {
      //padding: 10px;
      margin: auto;
      width: 100%;
      text-align: center;
      .container-card {
        width: 100%;
        margin: auto;
        .list-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          margin: auto;
          padding-top: 2em;
          .card-piattaforme {
            height: 650px;
          }
          
          .card-piattaforme_S {
            max-width: 85%;
            margin: 10px;
          }
          
          .card-piattaforme_M {
            max-width: 40%;
            margin: 10px;
          }
        
          .card-piattaforme_L {
            max-width: 25%;
            margin: 10px;
          }

          .card-piattaforme_XL {
            max-width: 25%;
            margin: 10px;
          }
        }
      }
    }
  }

  .container-piattaforme_XL {
    padding-left: 12%;
    padding-right: 12%;
  }

  mat-card {
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19) !important;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.container-combatti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
.item-combatti {
  padding: 10px;
  margin: auto;
  width: 35%;
  .image-taxi-searching{
    width: 65%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}

.item-combatti-text {
  padding: 10px;
  margin: auto;
  width: 55%;
  p {
    padding-top: 2em;
  }
}

}

.container-combatti_S {
  //padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  .item-combatti {
    width: 100%;
  }

  .item-combatti-text {
    width: 100%;
  }
}

.container-combatti_M {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.container-combatti_L {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.container-combatti_XL {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 18%;
  padding-right: 18%;
}
