$XSmall: '(max-width: 599.99px)';
$Small: '(min-width: 600px) and (max-width: 959.99px)';
$Medium: '(min-width: 960px) and (max-width: 1279.99px)';
$Large: '(min-width: 1280px) and (max-width: 1919.99px)';
$XLarge: '(min-width: 1920px)';
$HandsetPortrait: '(max-width: 599.99px) and (orientation: portrait)';

$Custom: '(min-width: 800px)';

$small: $HandsetPortrait;
$medium: $Small + ', ' + $Medium;
$large: $Large;
$xlarge: $XLarge;
$custom: $Custom;

p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

  @media only screen and #{$xlarge} {
  .title_XL{
    font-size: 36px !important;
  }
  }

  .flex-container-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    .flex-item-home-img {
      padding: 10px;
      margin: auto;
      width: 100%;
      .image-taxi-7 {
        width: 75%;
        margin: auto;
        // img {
        //   width: 100%;
        // }
      }
  }
  .flex-item-home-text {
      padding: 10px;
      margin: auto;
      width: 100%;
  }
  }
  @media only screen and #{$medium} {
.flex-container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      // img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}
  }

  @media only screen and #{$large} {
.flex-container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      // img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}
  }

@media only screen and #{$xlarge} {
.flex-container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 18%;
  padding-right: 18%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-7 {
      width: 75%;
      margin: auto;
      // img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}
}

.image-taxi-7 {
  .img {
    background-image: url("/assets/imgs/_taxi-7_250x.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 0%;
    padding-bottom: 100%;
  }
  @media only screen and (min-width: 800px) {
    .img {
      background-image: url("/assets/imgs/_taxi-7_250x.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .img {
      background-image: url("/assets/imgs/_taxi-7_450x.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
}

.subtitle{
    padding-top: 2em;
}

.paragraph{
    padding-top: 2em;
}

.container-piattaforme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    //padding-left: 4%;
    //padding-right: 4%;
    .item-piattaforme {
      //padding: 10px;
      margin: auto;
      width: 100%;
      text-align: center;
      .container-card {
        width: 100%;
        margin: auto;
        .list-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          margin: auto;
          padding-top: 2em;
          
          .card-piattaforme {
            height: 650px;
            max-width: 85%;
            margin: 10px;
          }
          @media only screen and #{$medium} {
          .card-piattaforme {
            max-width: 40%;
            margin: 10px;
          }
          }
          @media only screen and #{$large} {
          .card-piattaforme {
            max-width: 25%;
            margin: 10px;
          }
          }
          @media only screen and #{$xlarge} {
          .card-piattaforme {
            max-width: 25%;
            margin: 10px;
          }
          }
        }
      }
    }
  }
  @media only screen and #{$xlarge} {
  .container-piattaforme {
    padding-left: 12%;
    padding-right: 12%;
  }
  }

  mat-card {
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19) !important;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.container-combatti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
.item-combatti {
  padding: 10px;
  margin: auto;
  width: 35%;
  .image-taxi-searching{
    width: 65%;
    margin: auto;
    // img {
    //   width: 100%;
    // }
  }
}

.item-combatti-text {
  padding: 10px;
  margin: auto;
  width: 55%;
  p {
    padding-top: 2em;
  }
}

}

.image-taxi-searching {
  .img {
    background-image: url("/assets/imgs/_searching_250x250.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 0%;
    padding-bottom: 100%;
  }
  @media only screen and (min-width: 800px) {
    .img {
      background-image: url("/assets/imgs/_searching_250x250.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (min-width: 1000px) {
    .img {
      background-image: url("/assets/imgs/_searching_450x450.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
}

@media only screen and #{$small} {
.container-combatti {
  //padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
  .item-combatti {
    width: 100%;
  }

  .item-combatti-text {
    width: 100%;
  }
}
}

@media only screen and #{$medium} {
.container-combatti {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}
}

@media only screen and #{$large} {
.container-combatti {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}
}

@media only screen and #{$xlarge} {
.container-combatti {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 18%;
  padding-right: 18%;
}
}
