
$mat-customPrimary: (
    50 : #fff9e6,
    100 : #fff0c1,
    200 : #ffe797,
    300 : #fedd6d,
    400 : #fed54e,
    500 : #fece2f,
    600 : #fec92a,
    700 : #fec223,
    800 : #febc1d,
    900 : #fdb012,
    A100 : #ffffff,
    A200 : #fffcf7,
    A400 : #ffeac4,
    A700 : #ffe1ab,
    contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
    )
);

$mat-customPaletteAccent: (
    50 : #ebe8f2,
    100 : #cdc5dd,
    200 : #ac9ec7,
    300 : #8b77b1,
    400 : #7259a0,
    500 : #593c8f,
    600 : #513687,
    700 : #482e7c,
    800 : #3e2772,
    900 : #2e1a60,
    A100 : #b69cff,
    A200 : #9069ff,
    A400 : #6a36ff,
    A700 : #571dff,
    contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
    )
);

$mat-customPaletteForeground: (
    50 : #e4e4e4,
    100 : #bcbcbc,
    200 : #8f8f8f,
    300 : #626262,
    400 : #404040,
    500 : #1e1e1e,
    600 : #1a1a1a,
    700 : #161616,
    800 : #121212,
    900 : #0a0a0a,
    A100 : #e07171,
    A200 : #d74747,
    A400 : #eb0000,
    A700 : #d10000,
    contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
    )
);

$mat-customPaletteBackground: (
    50 : #fdfdfd,
    100 : #f9f9f9,
    200 : #f6f6f6,
    300 : #f2f2f2,
    400 : #efefef,
    500 : #ececec,
    600 : #eaeaea,
    700 : #e7e7e7,
    800 : #e4e4e4,
    900 : #dfdfdf,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
    )
);
