

//Each typographic level is defined by the mat-typography-level function, which requires a font-size, line-height, and font-weight.
//$font-family: 'Roboto, monospace',
$first-custom-typography: mat-typography-config(
  $display-4: mat-typography-level(112px, 112px, 300, 'Montserrat, Sans-serif', $letter-spacing: -0.05em),
/*   $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em), */
  $display-3: mat-typography-level(5.12vw, 1.4em, 800, 'Montserrat, Sans-serif', $letter-spacing: -0.02em),
/*   $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em), */
  $display-2: mat-typography-level(7.61vh, 1.2em, 800, 'Montserrat, Sans-serif', $letter-spacing: -0.005em),
/*   $display-1: mat-typography-level(34px, 40px, 400), */
  $display-1: mat-typography-level(5.47vh, 1em, 800, 'Montserrat, Sans-serif'),
/*   $headline: mat-typography-level(24px, 32px, 400), */
  $headline: mat-typography-level(3.65vh, 32px, 400, 'Open Sans, Sans-serif'),
/*   $title: mat-typography-level(20px, 32px, 500), */
  $title: mat-typography-level(2.73vh, 2em, 500, 'Open Sans, Sans-serif'),
  $subheading-2: mat-typography-level(2.73vh, 28px, 400, 'Open Sans, Sans-serif'),
  $subheading-1: mat-typography-level(15px, 24px, 400, 'Open Sans, Sans-serif'),
  $body-2: mat-typography-level(14px, 24px, 500, 'Open Sans, Sans-serif'),
  $body-1: mat-typography-level(14px, 20px, 400, 'Open Sans, Sans-serif'),
  $caption: mat-typography-level(1.82vh, 20px, 400, 'Open Sans, Sans-serif'),
/*   $button: mat-typography-level(2.28vh, 2.13vh, 500, 'Open Sans, Sans-serif'), */
  $button: mat-typography-level(15px, 14px, 500, 'Open Sans, Sans-serif'),
  $input: mat-typography-level(inherit, 1.125, 400, 'Open Sans, Sans-serif')
);
