
@import './custom.theme.scss';

@import '~@ngx-share/button/themes/modern/modern-dark-theme';

$custom-theme-foreground: mat-palette($mat-customPaletteForeground, 500);
$custom-theme-background: mat-palette($mat-customPaletteBackground, 500);

$custom-hover: #13aff0;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: mat-color($custom-theme-foreground, 500);
}

.pointer{ cursor: pointer; }

.bg-yellow {
    background-color: mat-color($custom-theme-primary);
}

.bg-lightgray {
    background-color: mat-color($custom-theme-background);
}

.example-toolbar{
    background-color: mat-color($custom-theme-primary);
    span{
        color: mat-color($custom-theme-foreground, 500);
    }
}

mat-sidenav {
    top: 74px !important;
    width: 45%;
  }

.sidebar{
    padding: 0px 0px 0px 0px;
    min-height: 100vh;
    box-shadow: 0px 0px 3px -1px;
    z-index: 1000;
    background-color: mat-color($custom-theme-primary);
    span{
        color: mat-color($custom-theme-foreground, 500);
    }
}

mat-nav-list {
    padding: 0px;
    align-items: initial;
    width: available;
    mat-list-item {
      border-bottom-style: solid;
      border-bottom-color: mat-color($custom-theme-primary, 400);
      border-bottom-width: 1px;
    }
  
  }

mat-toolbar-row > div > span:hover {
    color: mat-color($custom-theme-accent, 500);
  }
