@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  margin:0
}
.container{
  display:grid;
}

html, body {
  width: 100%;
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
  color: #1E1E1E;
  font-family: "Montserrat", Sans-serif;
  /* font-size: 64px; */
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.pointer{
  cursor: pointer;
}

.yellow {
  background-color: #FECE2F;
}

.purple {
  color: #593C8F;
}

.gray {
  background-color: #ECECEC;
}
