.flex-container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
    .flex-item-home-img {
      padding: 10px;
      margin: auto;
      width: 35%;
      .image-teamwork {
        width: 75%;
        margin: auto;
        img {
          width: 100%;
        }
      }
  }
  
  .flex-item-home-text {
      padding: 10px;
      margin: auto;
      width: 55%;
  }
}

.subtitle{
    padding-top: 2em;
}

.paragraph{
    padding-top: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

.flex-item-text {
    padding: 10px;
    margin: auto;
    width: 65%;
}

.flex-item-action {
    padding: 10px;
    margin: auto;
    width: 25%;
    margin: auto;
    text-align: center;
}

.flex-container-sostieni {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-item-sostieni {
  padding: 10px;
  margin: auto;
  width: 30%;
  .img-step {
    width: 60%;
    padding-bottom: 20%;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .container-step {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    .img-number {
      width: 20%;
      img {
        width: 80%;
      }
    }
    .text-step {
      width: 80%;
      height: 100px;
      margin: auto;
    }
  }
}

.container-pointer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.item-pointer {
  margin: auto;
  width: 50%;
}

.flex-container-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-item-map {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
  }


  .map{
    display: flex;
    text-align: center;
    justify-content: center;
  }

.flex-container-banner {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    justify-content: center;
  }

  .flex-item-banner {
    padding: 10px;
    margin: auto;
  }

  .social {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .flex-container-registra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
  }
  
  .flex-item-registra {
    padding: 10px;
    margin: auto;
    width: 20%;
    .img-step {
      width: 60%;
      padding-bottom: 20%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .container-step {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      .img-number {
        width: 20%;
        img {
          width: 80%;
        }
      }
      .text-step {
        width: 80%;
        height: 100px;
        margin: auto;
      }
    }
  }

  .container-piattaforme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    //padding-left: 4%;
    //padding-right: 4%;
    .item-piattaforme {
      //padding: 10px;
      margin: auto;
      width: 100%;
      text-align: center;
      .container-card {
        width: 100%;
        margin: auto;
        .list-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          margin: auto;
          padding-top: 2em;
          .card-piattaforme {
            max-width: 25%;
            margin: 10px;
            height: 650px;
            .img-piattaforma{
              height: 160px;
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              overflow: hidden;
              img {
                width: 40%;
                margin: auto;
                //padding-top: 16px;
              }
            }
          }
        }
      }
    }
  }

  mat-card {
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19) !important;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  
    mat-card-content {
      padding-top: 16px;
      .descriptions {
        height: 250px;
        .name-platform {
          height: 38px;
          text-align: left;
          overflow: hidden;
          font-size: 21px;
          font-weight: 900;
        }
        .paragraphs {
          height: 196px;
          text-align: left;
          overflow: hidden;
          padding-bottom: 16px;
          font-size: 20px;
          line-height: 1.3em;
        }
      }
      .content-chips {
        height: 152px;
        overflow: hidden;
      }
      
    }

    .mat-standard-chip {
      border-radius: 4px !important;
    }

    mat-card-actions {
      button {
        margin-bottom: 2em;
      }
    }

  }

  .container-btn-all {
    margin: 2em;
    text-align: center;
  }

  .mat-stroked-button {
    border: 2px solid #593c8f !important;
  }

  .container-combatti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  .item-combatti {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-searching{
      width: 65%;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }

  .item-combatti-text {
    padding: 10px;
    margin: auto;
    width: 55%;
    p {
      padding-top: 2em;
    }
  }

  }

  p {
    font-size: 20px;
    line-height: 1.3em;
    }
  