.image-teamwork {
    width: 100%;
  }

.imagebox-teamwork {
    width: 100%;
}

.flex-container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
}

.flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 25%;
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 65%;
}

.subtitle{
    padding-top: 2em;
}

    p {
      font-size: 20px;
      line-height: 1.3em;
      }


.paragraph{
    padding-top: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

.flex-item-text {
    padding: 10px;
    margin: auto;
    width: 65%;
}

.flex-item-action {
    padding: 10px;
    margin: auto;
    width: 25%;
    margin: auto;
    text-align: center;
}

.flex-container-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-item-map {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
  }


  .map{
    display: flex;
    text-align: center;
    justify-content: center;
  }

.flex-container-banner {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    justify-content: center;
  }

  .flex-item-banner {
    padding: 10px;
    margin: auto;
  }

  .social {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .mat-mini-fab {
    box-shadow: none !important;
    color: #FFFFFF;
    margin-right: 30px;
  }
  .facebook {
    background-color: #3b5998;
  }

  .linkedin {
    background-color: #0077b5;
  }

  .whatsapp {
    background-color: #25d366;
  }