
@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

$first-family: mat-typography-config(
  $font-family: 'Montserrat, Sans-serif'
);
$second-family: mat-typography-config(
  $font-family: 'Open Sans, Sans-serif'
);

p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

.title_XL{
    font-size: 36px !important;
}

.flex-container-home_S{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0%;
  padding-right: 0%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 100%;
    .image-teamwork {
      width: 75%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 100%;
}
}

.flex-container-home_M{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-teamwork {
      width: 75%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.flex-container-home_L{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 4%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-teamwork {
      width: 75%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.flex-container-home_XL{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 18%;
  padding-right: 18%;
  .flex-item-home-img {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-teamwork {
      width: 75%;
      margin: auto;
      // .img {
      //   width: 100%;
      // }
    }
}

.flex-item-home-text {
    padding: 10px;
    margin: auto;
    width: 55%;
}
}

.image-teamwork {
  .img {
    background-image: url("/assets/imgs/_teamwork_250x250.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 0%;
    padding-bottom: 100%;
  }
  @media (min-width: 800px) {
    .img {
      background-image: url("/assets/imgs/_teamwork_250x250.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
  @media (min-width: 1000px) {
    .img {
      background-image: url("/assets/imgs/_teamwork_450x450.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
  }
}

.subtitle{
    padding-top: 2em;
}

.paragraph{
    padding-top: 2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-container_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .flex-container_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-container_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flex-container_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }

.flex-item-text_S {
  padding: 10px;
  margin: auto;
  width: 100%;
}

.flex-item-text {
  padding: 10px;
  margin: auto;
  width: 65%;
}

.flex-item-action_S {
  padding: 10px;
    margin: auto;
    width: 100%;
    margin: auto;
    text-align: center;
}

.flex-item-action {
  padding: 10px;
  margin: auto;
  width: 25%;
  margin: auto;
  text-align: center;
}

.flex-container-sostieni {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-sostieni_S {
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.flex-container-sostieni_M {
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-container-sostieni_L {
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-container-sostieni_XL {
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 4%;
}

.flex-item-sostieni_C {
  padding: 10px;
  margin: auto;
  width: 100%;
  .img-step {
    width: 30%;
    padding-bottom: 0%;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .container-step {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    .img-number {
      width: 20%;
      img {
        width: 60%;
      }
    }
    .text-step {
      width: 80%;
      height: 100px;
      margin: auto;
      p {
        font-size: 20px;
      }
    }
  }
}

.flex-item-sostieni {
  padding: 10px;
  margin: auto;
  width: 30%;
  .img-step {
    width: 60%;
    padding-bottom: 20%;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .container-step {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    .img-number {
      width: 20%;
      img {
        width: 80%;
      }
    }
    .text-step {
      width: 80%;
      height: 100px;
      margin: auto;
      p {
        font-size: 20px;
      }
    }
  }
}

.container-pointer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.item-pointer {
  margin: auto;
  width: 50%;
}

.container-filter_S {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-left: 0%;
  padding-right: 0%;
}

.container-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4%;
  //padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.item-filter_S {
  //margin: auto;
  float: left;
  text-align: left;
  width: 100%;
}

.item-filter {
  //margin: auto;
  float: left;
  text-align: left;
  width: 50%;
}

.container-search {
  display: flex;
}

.item-search-text {
  margin-top: auto;
  margin-bottom: auto;
  span {
  font-size: 30px;
  font-family: mat-font-family($second-family);
  font-weight: 900 !important;
  }
}

mat-form-field {
  margin-right: 12px;
  margin-left: 12px;
  font-size: 20px !important;
  font-style: italic !important;
  width: 50%;
  //padding-top: 1.25em;
}

.field_S {
  mat-form-field {
    width: 80%;
  }
}

.field_M {
  mat-form-field {
    width: 80%;
  }
}

.field_L {
  mat-form-field {
    width: 50%;
  }
}

.field_XL {
  mat-form-field {
    width: 50%;
  }
}

.container-filter-categ_S{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0%;
  padding-right: 0%;
}

.container-filter-categ{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.item-filter-categ {
  //margin: auto;
  text-align: left;
  width: 100%;
}

.padding-chips {
  padding-top: 1em;
  padding-bottom: 1em;
}

.mat-standard-chip {
  height: auto;
  border-radius: 21px;
}

.img-zoom {
  width: 11%;
  padding-right: 10px;
}

.img-chip {
  height: 31px;
  padding-right: 10px;
}

.flex-container-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.flex-container-map_S {
  //padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.flex-container-map_M {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-container-map_L {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.flex-container-map_XL {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 18%;
  padding-right: 18%;
}

  .flex-item-map {
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
  }


  .map{
    display: flex;
    text-align: center;
    justify-content: center;
  }

.flex-container-banner {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    justify-content: center;
  }

  .flex-item-banner {
    padding: 10px;
    margin: auto;
  }

  .social {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .flex-container-registra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-container-registra_S {
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
  }

  .flex-container-registra_M {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
  }

  .flex-container-registra_L {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
  }

  .flex-container-registra_XL {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 4%;
  }

  .flex-item-registra_C {
    padding: 10px;
    margin: auto;
    width: 100%;
    .img-step {
      width: 30%;
      padding-bottom: 0%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .container-step {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      .img-number {
        width: 20%;
        img {
          width: 60%;
        }
      }
      .text-step {
        width: 80%;
        height: 100px;
        margin: auto;
        p {
          font-size: 20px;
        }
      }
    }
  }

  .flex-item-registra {
    padding: 10px;
    margin: auto;
    width: 20%;
    .img-step {
      width: 60%;
      padding-bottom: 20%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .container-step {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      .img-number {
        width: 20%;
        img {
          width: 80%;
        }
      }
      .text-step {
        width: 80%;
        height: 100px;
        margin: auto;
        p {
          font-size: 20px;
        }
      }
    }
  }

  .container-piattaforme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    .item-piattaforme {
      //padding: 10px;
      margin: auto;
      width: 100%;
      text-align: center;
      .container-card {
        width: 100%;
        margin: auto;
        .list-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          margin: auto;
          padding-top: 2em;
          .card-piattaforme {
            height: 650px;
            .img-piattaforma{
              height: 160px;
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              overflow: hidden;
              img {
                width: 30%;
                margin: auto;
                //padding-top: 16px;
              }
            }
          }
          
          .card-piattaforme_S {
            max-width: 85%;
            margin: 10px;
          }
          
          .card-piattaforme_M {
            max-width: 40%;
            margin: 10px;
          }
        
          .card-piattaforme_L {
            max-width: 25%;
            margin: 10px;
          }

          .card-piattaforme_XL {
            max-width: 25%;
            margin: 10px;
          }
        }
      }
    }
  }

  .container-piattaforme_S {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-bottom: 0%;
  }

  .container-piattaforme_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .container-piattaforme_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .container-piattaforme_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 12%;
    padding-right: 12%;
  }

  mat-card {
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19) !important;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  
    mat-card-content {
      padding-top: 16px;
      .descriptions {
        height: 250px;
        .name-platform {
          height: 38px;
          text-align: left;
          overflow: hidden;
          font-family: mat-font-family($first-family);
          font-size: 21px;
          font-weight: 900;
        }
        .paragraphs {
          height: 196px;
          text-align: left;
          overflow: hidden;
          padding-bottom: 16px;
          font-family: mat-font-family($second-family);
          font-size: 20px;
          line-height: 1.3em;
        }
      }
      .content-chips {
        height: 152px;
        overflow: hidden;
      }
      
    }

    .mat-standard-chip {
      border-radius: 4px !important;
    }

    mat-card-actions {
      button {
        margin-bottom: 2em;
      }
    }

  }

  .container-btn-all {
    margin: 2em;
    text-align: center;
  }

  .mat-stroked-button {
    border: 2px solid #593c8f !important;
  }

  .container-partners_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .container-partners_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-partners_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-partners_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }

  .container-combatti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  .item-combatti {
    padding: 10px;
    margin: auto;
    width: 35%;
    .image-taxi-searching{
      width: 65%;
      margin: auto;
      // img {
      //   width: 100%;
      // }
    }
  }

  .item-combatti-text {
    padding: 10px;
    margin: auto;
    width: 55%;
    p {
      padding-top: 2em;
    }
  }

  }

  .image-taxi-searching {
    .img {
      background-image: url("/assets/imgs/_searching_250x250.png");
      background-position: center;
      background-repeat:no-repeat;
      background-size: 100% 100%;
      height: 0%;
      padding-bottom: 100%;
    }
    @media (min-width: 800px) {
      .img {
        background-image: url("/assets/imgs/_searching_250x250.png");
        background-position: center;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        height: 0%;
        padding-bottom: 100%;
      }
    }
    @media (min-width: 1000px) {
      .img {
        background-image: url("/assets/imgs/_searching_450x450.png");
        background-position: center;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        height: 0%;
        padding-bottom: 100%;
      }
    }
  }

  .container-combatti_S {
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    .item-combatti {
      width: 100%;
    }
  
    .item-combatti-text {
      width: 100%;
    }
  }

  .container-combatti_M {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-combatti_L {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .container-combatti_XL {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 18%;
    padding-right: 18%;
  }

  ::ng-deep .mat-form-field {
    .mat-input-element {
        color: #ffffff;
    }
    .mat-form-field-label {
        color: #ffffff;
    }
    .mat-form-field-underline {
        background-color: mat-color($custom-theme-primary);
    }
    .mat-form-field-ripple {
        background-color: mat-color($custom-theme-primary);
    }
    .mat-form-field-required-marker {
        color: mat-color($custom-theme-primary);
    }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: mat-color($custom-theme-primary);
  }
  .mat-form-field-ripple {
      background-color: mat-color($custom-theme-primary);
  }
  .mat-form-field-required-marker {
      color: mat-color($custom-theme-primary);
  }
  .mat-input-element {
      color: #ffffff;
  }
}

::ng-deep .mat-standard-chip:focus::after {
  opacity: 0 !important;
}