
@import 'src/custom.theme.scss';
@import 'src/custom-typography.scss';

$first-family: mat-typography-config(
  $font-family: 'Montserrat, Sans-serif'
);
$second-family: mat-typography-config(
  $font-family: 'Open Sans, Sans-serif'
);

$XSmall: '(max-width: 599.99px)';
$Small: '(min-width: 600px) and (max-width: 959.99px)';
$Medium: '(min-width: 960px) and (max-width: 1279.99px)';
$Large: '(min-width: 1280px) and (max-width: 1919.99px)';
$XLarge: '(min-width: 1920px)';
$HandsetPortrait: '(max-width: 599.99px) and (orientation: portrait)';

$Custom: '(min-width: 800px)';

$small: $HandsetPortrait;
$medium: $Small + ', ' + $Medium;
$large: $Large;
$xlarge: $XLarge;
$custom: $Custom;

p {
  //font-size: 3.04vh;
  font-size: 20px;
  line-height: 1.3em;
  }

  @media only screen and #{$xlarge} {
  .title_XL{
    font-size: 36px !important;
  }
  }

  .container-title {
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  @media only screen and #{$medium} {
  .container-title {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }

  @media only screen and #{$large} {
  .container-title {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }
  }

  @media only screen and #{$xlarge} {
  .container-title {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 18%;
    padding-right: 18%;
  }
  }
  
  .test-theme {
    text-align: center;
  }
  
  .title-header {
    padding-top: 2em;
    margin: 10px;
    text-align: center;
  }
  
  .subtitle-header {
    text-align: justify;
    padding-top: 2em;
    margin: 10px;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }

  .container-card{
    padding-bottom: 2%;
    //padding-left: 4%;
    //padding-right: 4%;
  }

  @media only screen and #{$xlarge} {
  .container-card{
    padding-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;
  }
  }
  
  .list-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 2em;
  }
  
  mat-card {
    background-color: mat-color($custom-theme-primary) !important;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 0px 6px 0px rgba(30, 30, 30, 0.55) !important;
  }

  .example-card {
    max-width: 85%;
    margin: 10px;
  }
  
  @media only screen and #{$medium} {
  .example-card {
    max-width: 40%;
    margin: 10px;
  }
  }

  @media only screen and #{$large} {
  .example-card {
    max-width: 25%;
    margin: 10px;
  }
  }

  @media only screen and #{$xlarge} {
  .example-card {
    max-width: 25%;
    margin: 10px;
  }
  }
  
  mat-card-title {
    margin: 10px;
    height: 50px;
    font-family: mat-font-family($second-family);
    font-size: 16px !important;
    font-weight: 600 !important;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
  }
  
  /* mat-card-subtitle {
    margin: 15px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  
  .container-load {
    margin: 2em;
    text-align: center;
  }
  
  .button-load {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
  